<header class="center">
    <p class="category">
    </p>

    <div class='story'>
    <h1 style='font-family:tiempos'>Spring 2020 academic changes</h1>
    </div>
    <p class="subhead" style='font-family:tiempos'>A subhead about grade changes</p>
    <div class="info">
        <p>
            By <span class="byline"><a href="###">Connor Lin</a></span> and <span class="byline"><a href="###">Ji Yeon Woo</a></span> <br /> <span class="timestamp"> <time datetime="{{META.timestamp}}">{{ARCHIE.dateline | upper}}</time></span>
        </p>
    </div>
</header>
