<header class="center">
    <p class="category">
    </p>

    <div class='story'>
    <h1 style='font-family:tiempos'> Remote Grading Policies </h1>
    </div>
    <p class="subhead" style='font-family:tiempos'> Pass/No Pass, Remote Learning</p>
    <div class="info">
        <p>
            By <span class="byline"><a href="###" target="_blank">Shannon Bonet</a> and 
                <a href="###" target="_blank">Jenna Woo</a>
            </span> <br /> <span class="timestamp"><time datetime="2020-07-24T08:00-0800">JUNE 11, 2021</time></span>
            </br>
            </br>
        </p>
    </div>
</header>
