<header class="center">
    <p class="category">
    </p>

    <div class='story'>
    <h1 style='font-family:tiempos'> 'Online Classes Suck' </h1>
    </div>
    <p class="subhead" style='font-family:tiempos'> Examining grading trends after a year of pass/no pass policies </p>
    <div class="info">
        <p>
            BY <span class="byline"><a href="###" target="_blank">Shannon Bonet</a>,
                <a href="###" target="_blank">Jenna Woo</a> and <a href="###" target="_blank">Connor Lin</a>
            </span> <br /> <span class="timestamp"><time datetime="2021-06-14T08:00-0800">JUNE 14, 2021</time></span>
            </br>
            </br>
        </p>
    </div>
</header>
