<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="https://use.typekit.net/mfo3lll.css">
<html>
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<!--<center style='font-family:benton-sans'>Which graduate degrees draw students from this college?</br></br></center>-->
<center style='font-family:benton-sans'>In fall 2020, how many grades from each college were letter versus pass/no pass grades?</br></br></center>

<button class="fill" onclick=update1(data11)>Chemistry</button>
<button class="fill" onclick=update1(data22)>Engineering</button>
<button class="fill" onclick=update1(data33)>CED</button>
<button class="fill" onclick=update1(data44)>L&S</button>
<button class="fill" onclick=update1(data55)>CNR</button>
<button class="fill" onclick=update1(data66)>Haas</button>
<button id='btn1' class="fill" onclick=update1(data77)>Overall</button>

<!-- Create a div where the graph will take place -->
<div id="pie_fa"></div>

<script>

// set the dimensions and margins of the graph
var width = 600
    height = 450
    margin = 80;

// The radius of the pieplot is half the width or half the height (smallest one). I subtract a bit of margin.
var radius = Math.min(width, height) / 2 - margin;

var fa_svg = d3.select("#pie_fa")
  .append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var data11 = {"values": {"PNP": 25, "Graded": 75}, "name": "Chemistry"};
var data22 = {"values": {"PNP": 39, "Graded": 61}, "name": "Engineering"};
var data33 = {"values": {"PNP": 21, "Graded": 79}, "name": "CED"};
var data44 = {"values": {"PNP": 30, "Graded": 70}, "name": "L&S"};
var data55 = {"values": {"PNP": 28, "Graded": 72}, "name": "CNR"};
var data66 = {"values": {"PNP": 32, "Graded": 68}, "name": "Haas"};
var data77 = {"values": {"PNP": 31, "Graded": 69}, "name": "Overall"};

var div1 = d3.select("#pie_fa").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);


// set the color_pie scale
var color_pie = d3.scaleOrdinal()
  .domain(["a", "b"])
  .range(["#fcba64", "#af5845"]); 

// A function that create / update the plot for a given variable:
function update1(data) {

//update text 
length = data.name.length
fa_svg.selectAll("text.title").remove();

fa_svg.append("text")
   .attr("text-anchor", "middle")
   .attr("class", "title")
   .attr("y", 4)
   .attr("font-size", "15px")
   .attr("font-family", "Lato")
   .attr("fill", "black")
   .text(data.name);

  // Compute the position of each group on the pie:
  var pie = d3.pie()
    .value(function(d)   { console.log("WHAT IS D" , d.value) ; return d.value; })
    .sort(function(a, b) { return d3.ascending(a.key, b.key);} ) // This make sure that group order remains the same in the pie chart
  var data_ready = pie(d3.entries(data.values))

  // map to data
  const u = fa_svg.selectAll("path")
    .data(data_ready)

  // Build the pie chart: Basically, each part of the pie is a path that we build using the arc function.
  u
    .enter()
    .append('path')
    .merge(u)
    .attr('d', d3.arc()
      .innerRadius(60)
      .outerRadius(radius)
    )
    .attr('fill', function(d){ return(color_pie(d.data.key)) })
    .attr("stroke", "white")
    .style("stroke-width", "2px")
    .style("opacity", 1)
    .on("mouseover", function(d) {
      d3.select(this).style("fill", d3.rgb(color_pie(d.data.key)).darker(2))
      div1.transition()
          .duration(200)
          .style("opacity", .9)
      tmp = d.data.key
      let p = tmp + ": \n" + d.data.value.toString() + "%"
      div1.html(p)
          .style("left", (d3.event.pageX + 10) + "px")
          .style("top", (d3.event.pageY - 15) + "px")
          .style("font-size", "12px")
          .style("font-family", "benton-sans");
    })
    .on("mouseout", function(d) {
      d3.select(this).style("fill", color_pie(d.data.key))
      div1.transition()
          .duration(300)
          .style("opacity", 0);
    });

  // remove the group that is not present anymore
  u
    .exit()
    .remove()
}

// Initialize the plot with the first dataset
update1(data77)

fa_svg.append("text")
    .attr("x", 188)
    .attr("y", 175)
    .style("font-size", "12px")
    .style("font-family", "benton-sans")
    .style("font-style", "italic")
    .text("Source: Cal Answers");

  var legend = fa_svg.selectAll(".legend")
      .data(["PNP", "Graded"])
      .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d,i) { return "translate(0," + i * 20 + ")"; })
      .style("opacity","0");

  legend.append("rect")
      .attr("x", 105)
      .attr("y", -210)
      .attr("width", 10)
      .attr("height", 10)
      .style("fill", function(d) { return color_pie(d); });

  legend.append("text")
      .attr("x", 125)
      .attr("y", -205)
      .attr("dy", ".35em")
      .style("text-anchor", "start")
      .style("font-family", "benton-sans")
      .style("font-size", 12)
      .text(function(d) {return d; });

  legend.transition().duration(400).delay(function(d,i){ return 1300 + 100 * i; }).style("opacity","1");
</script>
</html>
