<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="https://use.typekit.net/mfo3lll.css">
<html>
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<!--<center style='font-family:benton-sans'>Which graduate degrees draw students from this college?</br></br></center>-->
<center style='font-family:benton-sans'>In spring 2020, how many grades from each college were letter versus pass/no pass grades?</br></br></center>

<button class='fill' onclick=update(data1)>Chemistry</button>
<button class='fill' onclick=update(data2)>Engineering</button>
<button class='fill' onclick=update(data3)>CED</button>
<button class='fill' onclick=update(data4)>L&S</button>
<button class='fill' onclick=update(data5)>CNR</button>
<button class='fill' onclick=update(data6)>Haas</button>
<button id='btn' class='fill' onclick=update(data7)>Overall</button>

<!-- Create a div where the graph will take place -->
<div id="pie_sp"></div>

<script>

// set the dimensions and margins of the graph
var width = 650
    height = 450
    margin = 80;

// The radius of the pieplot is half the width or half the height (smallest one). I subtract a bit of margin.
var radius = Math.min(width, height) / 2 - margin;

var svg = d3.select("#pie_sp")
  .append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var data1 = {"values": {"PNP": 50, "Graded": 50}, "name": "Chemistry"};
var data2 = {"values": {"PNP": 64, "Graded": 36}, "name": "Engineering"};
var data3 = {"values": {"PNP": 59, "Graded": 41}, "name": "CED"};
var data4 = {"values": {"PNP": 62, "Graded": 38}, "name": "L&S"};
var data5 = {"values": {"PNP": 55, "Graded": 45}, "name": "CNR"};
var data6 = {"values": {"PNP": 66, "Graded": 34}, "name": "Haas"};
var data7 = {"values": {"PNP": 61, "Graded": 39}, "name": "Overall"};

var div = d3.select("#pie_sp").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

// set the color_pie scale
var color_pie = d3.scaleOrdinal()
  .domain(["a", "b"])
  .range(["#fcba64", "#af5845"]); 

// A function that create / update the plot for a given variable:
function update(data) {
length = data.name.length;
svg.selectAll("text.title").remove();
svg.append("text")
   .attr("text-anchor", "middle")
   .attr("class", "title")
   .attr("y", 4)
   .attr("font-size", "15px")
   .attr("font-family", "Lato")
   .attr("fill", "black")
   .text(data.name);

  // Compute the position of each group on the pie:
  var pie = d3.pie()
    .value(function(d) {return d.value; })
    .sort(function(a, b) { console.log(a) ; return d3.ascending(a.key, b.key);} ) // This make sure that group order remains the same in the pie chart
  var data_ready = pie(d3.entries(data.values))

  // map to data
  var u = svg.selectAll("path")
    .data(data_ready)

  // Build the pie chart: Basically, each part of the pie is a path that we build using the arc function.
  u
    .enter()
    .append('path')
    .merge(u)
    .attr('d', d3.arc()
      .innerRadius(60)
      .outerRadius(radius)
    )
    .attr('fill', function(d){ return(color_pie(d.data.key)) })
    .attr("stroke", "white")
    .style("stroke-width", "2px")
    .style("opacity", 1)
    .on("mouseover", function(d) {
      d3.select(this).style("fill", d3.rgb(color_pie(d.data.key)).darker(2))
      div.transition()
          .duration(200)
          .style("opacity", .9)
      tmp = d.data.key
      let p = tmp + ": \n" + d.data.value.toString() + "%"
      div.html(p)
          .style("left", (d3.event.pageX + 10) + "px")
          .style("top", (d3.event.pageY - 15) + "px")
          .style("font-size", "12px")
          .style("font-family", "benton-sans");
    })
    .on("mouseout", function(d) {
      d3.select(this).style("fill", color_pie(d.data.key))
      div.transition()
          .duration(300)
          .style("opacity", 0);
    });

  // remove the group that is not present anymore
  u
    .exit()
    .remove()
}

// Initialize the plot with the first dataset
document.getElementById('btn').click() 
document.getElementById('btn').focus() 

svg.append("text")
    .attr("x", 188)
    .attr("y", 175)
    .style("font-size", "12px")
    .style("font-family", "benton-sans")
    .style("font-style", "italic")
    .text("Source: Cal Answers");

  var legend = svg.selectAll(".legend")
      .data(["PNP", "Graded"])
      .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d,i) { return "translate(0," + i * 20 + ")"; })
      .style("opacity","0");

  legend.append("rect")
      .attr("x", 105)
      .attr("y", -210)
      .attr("width", 10)
      .attr("height", 10)
      .style("fill", function(d) { return color_pie(d); });

  legend.append("text")
      .attr("x", 125)
      .attr("y", -205)
      .attr("dy", ".35em")
      .style("text-anchor", "start")
      .style("font-family", "benton-sans")
      .style("font-size", 12)
      .text(function(d) {return d; });

  legend.transition().duration(400).delay(function(d,i){ return 1300 + 100 * i; }).style("opacity","1");
</script>
</html>
